<% include ../head %>
<script>
	function certification(){
		//$('#main').load('/home/certification.html');
	}
</script>
	<div class="row" style="margin-top: 20px; ">
      	<div class="col-sm-1 col-md-1"'></div>
      	<div class="col-sm-2 col-md-2"   style='background-color: #aaa;border-radius: 15px'>
	      	<% include ./left %>
      	</div>
      	<div class="col-sm-7 col-md-7" id='main'></div>
      	<div class="col-sm-1 col-md-1"></div>
	</div>
	
  </body>
</html>