<script>
    function showMessage(){   
         $('#Message').show();//显示隐藏的块
    }
</script>
<table align='center' height='550px' style='border-radius: 15px;''>
	<tr>
	  <td>
	    <a href='#' onclick="showMessage()">消息</a>
	  </td>
	</tr>
	<tr>
      <td>
		<% if(loginbean.role==1) {%>
	      <a href='#' onclick='certification()'>身份认证</a>
	    <% }else if(loginbean.role==2){ %>
     	   身份认证中
	    <% }else if(loginbean.role==3){ %>
	      <br >
	      <a href='/home/pubShop'  style="margin-right: 10px;">发布租赁位置<a/>
	   <% }else if(loginbean.role==4){ %>
	       <a href='/home/shopmanage'>管理营业点</a>
	   <%}%>
	  </td>
	</tr>
</table>